<h2>@ViewBag.Message</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam, 
    est non condimentum vehicula, elit leo vestibulum purus, non convallis 
    enim elit at tortor. Cras consequat dapibus egestas. Etiam tincidunt 
    efficitur mi, eu eleifend ligula viverra id. Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit. Donec eros justo, consequat ac ante in, 
    volutpat sodales lorem. Aliquam in mauris ligula. Donec a metus sed felis 
    congue viverra. Quisque blandit ex a leo tempor volutpat. Pellentesque 
    dictum congue volutpat. Cras lacus orci, sagittis nec tempor non, posuere 
    vel dolor. Ut at neque nec elit lacinia sollicitudin eu sit amet arcu. 
    Etiam vehicula eros nec ullamcorper rhoncus. Vestibulum congue consequat imperdiet.</p>